# Dependencias
/node_modules
.next/
# Archivos de configuración de entorno
/.env.local
/.env
/.env.development.local
/.env.test.local
/.env.production.local

# Directorios de construcción y producción
/.next/
/out/
/build/
/dist/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración del editor/IDE
.vscode/
.idea/
*.sublime-workspace

# Archivos de registro
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de cobertura de pruebas
/coverage/

# Archivos generados por la herramienta de perfilado de Next.js
.profiling/
